.buttonContainer {
    height: 20%;
    justify-content: flex-end;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0px auto;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: transparent;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    font-size: 2.3em;
    text-align: center;
    background-color: #377CCD;
    color: white;
    outline: none;
    box-shadow: 5px 5px 10px rgb(41, 41, 41);
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}


/* 모달용 css 추가 */

.modal {
    background-color: #2B2B2B;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    top: 100%;
    position: fixed;
    left: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.header{
    flex:1;
    width: 91vw;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin-left: 3vw;
}

.title {
    margin-bottom: 2vh;
    font : bold x-large "맑은 고딕",sans-serif;
    color: white;
    position: relative;
}

.subtitle {
    font : medium "맑은 고딕",sans-serif;
    color: white;
}

.usaeng{
    width: 30vw;
    height: 14vh;
    margin-left: 8vw;
    margin-right: 2vw;
}
.body{
    flex:4;
    width: 91vw;
    align-self: center;
    background-color: white;
    border-radius: 16px 16px 0px 0px;
}
.container.modal-open .modal {
    top: 0;
  }